
* {
    box-sizing: border-box;
  }

/*style the base size to 200 px and allow to shrink*/
.page-header__item{
    flex: 0 1 200px;
  }
  
  #logo {
    width: 10px;
    height: 10px;
  }
  /*the last child is the menubar*/
  .page-header__item:last-child{
    flex-grow: 1;
    text-align: right;
  
  }

body{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
  }

.container{
    border: 2px blue solid;
    height: 9800px;
    width: 300px;
    margin-bottom: 10px;
    border: 3px solid #4caf50;
    max-width: 760px;
    margin: 0 auto;

  }

  .pokemon-button{
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 2px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4caf50;
    height: 30px;
    width: 220px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; 
    margin-bottom: 15px;
   
  }
  

  .pokemon-list{
    font-size: 32px;
    margin: 0 auto;
  }

  h1 {
    font-size: 22px;
  }


  #loading {
    /*styling the loading container*/
    visibility:hidden;
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
}

#loading-image {
    /*to make sure the loading image at the center of the page*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*styling for modal container*/
  #modal-container {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
    /* to show it above other content */
    z-index: 999; 
    
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto; 
    
    /* this is used to center the modal */
    display: grid;
    text-align: center;
  }

  /*styling for modal*/
  .modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
  }
  
  /*styling for the Close button*/
  .modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
  }

  /*styling for modal title*/
  .modal h1 {
    margin-top: 0;
  }

.modal img {
  float: left;
  width: 200px;
  margin-right: 40px;
}
  /*styling for modal text*/
  .modal p {
    margin-bottom: 0;
  }
  
  #modal-container {
    display: none;
  }
  
/*style when modal container is visible*/
  #modal-container.is-visible {

    /* CSS for modal container - add your own desired CSS styles here */
    display: block;
  }


/*media queries for max width 750px*/
@media all and (max-width: 750px) {

    body{
        font-size: 100%;
      }
   
      .pokemon-list{
        font-size: 100%;
        float: none;
      }
  
    h1 {
      font-size: 22px;
    }
    
  }
  
  /*media queries for minwidth: 500px and maxwidth: 750*/
@media all and (min-width: 500px) and (max-width: 750px){

    body{
        font-size: 80%;
      }
     
      .pokemon-list{
        font-size: 50%;
        float: none;
    
    } 
    h1 {
            font-size: 22px;
        }
  /*media queries for maxwidth: 500px */
  @media all and  (max-width: 500px){

    body{
        font-size: 80%;
      }
    
      .pokemon-list{
        font-size: 30%;
        float: none;
      } 

      h1 {
        font-size: 22px;
      }
      
    }
