

* {
    box-sizing: border-box;
  }

body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
  }

.container{
    border: 2px blue solid;
    height: 10300px;
    width: 230px;
    margin-bottom: 10px;
    border: 3px solid #4caf50;
    max-width: 760px;
    margin: 0 auto;

  }

  .pokemon-button{
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 2px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4caf50;
    height: 30px;
    width: 220px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; 
    margin-bottom: 15px;
   
  }

  
  .pokemon-list{
    font-size: 32px;
  }

  h1 {
    font-size: 22px;
  }

/*media queries for max width 750px*/
@media all and (max-width: 750px) {
    
    .container{
        width: 50%;
        float:none;
      
      }
      
      
      .pokemon-button{
        width: 30%;
        float: none;
        margin-left: 20%;
        margin-bottom:  2%;
    
      }
  
    h1 {
      font-size: 22;
    }
    .pokemon-list{
        font-size: 5%;
        float: none;
      }
  }
  
  /*media queries for minwidth: 500px and maxwidth: 750*/
@media all and (min-width: 500px) and (max-width: 750px){
    .container{
        width: 30%;
        float: none;
        
      }
     
      .pokemon-button{
        width: 30%;
        float: none;
        margin-left: 20%;
        margin-bottom: none;
        margin-bottom:  2%;
      
      }
      .pokemon-list{
        font-size: 2%;
        float: none;
      }
    h1 {
      font-size: 22;
    }

  /*media queries for maxwidth: 500px */
  @media all and  (max-width: 500px){
    .container{
        width: 20%;
        float: none;
        
      }
  
      .pokemon-button{
        width: 20%;
        float: none;
        margin-left: 20%;
        margin-bottom: 2%;

      }
      .pokemon-list{
        font-size: 1%;
        float: none;
      }

    h1 {
      font-size: 22;
    }
  
}